<div class="container">
  <div class="columns" style="margin-top: 40px;">
    <div class="column one-fourth">
      <ng-include src="'/partials/profile_sub_nav.html'"></ng-include>
    </div>
    <div class="column three-fourths">
      <div class="flash-messages" ng-show="flash_message">
        <div class="flash">
          {{flash_message}}
        </div>
      </div>
      <div class="boxed-group">
        <h3>Change Password</h3>
        <div class="boxed-group-inner">
          <div class="columns">
            <div class="column two-thirds">
              <dl>
                <dt><label for="current_password">Current Password</dt>
                <dt><input id="current_password" class="form-control" type="text" ng-model="password.current_password" required></dt>
              </dl>
              <dl>
                <dt><label for="new_password">New Password</dt>
                <dt><input id="new_password" class="form-control" type="text" ng-model="password.new_password" required></dt>
              </dl>
              <dl>
                <dt><label for="confirm_new_password">Confirm New Password</dt>
                <dt><input id="confirm_new_password" class="form-control" type="text" ng-model="password.confirm_new_password" required></dt>
              </dl>
              <p>
                <button style="margin-top:10px" class="btn btn-primary" ng-click="changePassword(password)">Change your password</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
