<ng-include src="'/partials/products_head.html'"></ng-include>
<div class="container products-container">
  <div class="boxed-group" ng-show="inactive_products.length > 0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="140px"></th>
          <th width="140px">Brand</th>
          <th>Product Name</th>
          <th width="100px">SKU</th>
          <th width="140px">Manu #</th>
          <th width="100px">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in inactive_products | orderBy:'name'" ng-click="productDetail(product)" style="cursor:pointer">
          <td align="center">
            <img src="/images/thumbnail-default.jpg"  class="thumbnail" width="120px;" ng-hide="product.primary_media" />
            <img ng-src="/{{product.primary_media.filename}}" class="thumbnail" width="120px;" ng-show="product.primary_media" />
          </td>
          <td>
            {{product.brand_name}}
          </td>
          <td>
            <a ng-href="/product_lines/{{product_line._id}}/product_line_revisions/{{product_line_revision._id}}/products/{{product._id}}">{{ product.name }}</a>
          </td>
          <td>
            {{product.sku}}
          </td>
          <td>
            {{product.manufacturer_number}}
          </td>
          <td>
            {{product.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="10" class="pagination-sm" boundary-link-numbers="true" ng-change="pageChanged()" ng-show="inactive_products.length > 0"></uib-pagination>
  <ng-include src="'/partials/inactive_products_blankstate.html'"></ng-include>
</div>
