<div class="container">
  <div class="columns">
     <div class="one-fifth column">
      <nav class="menu">
        <h3 class="menu-heading">
          Company settings
        </h3>
        <a class="menu-item" href="/settings/company/profile" ng-class="{ 'selected': $route.current.mode == 'company_profile' }">Company Profile</a>
        <a class="menu-item" href="/settings/company/main_office_location" ng-class="{ 'selected': $route.current.mode == 'main_office_location' }">Main Office Location</a>
        <a class="menu-item" href="/settings/company/branding" ng-class="{ 'selected': $route.current.mode == 'company_branding' }">Logos/Branding</a>
        <a class="menu-item" href="/settings/company/social_media" ng-class="{ 'selected': $route.current.mode == 'company_social_media' }">Social Media Accounts</a>
      </nav>
    </div>
  </div>
</div>
