<div class="blankslate blankslate-spacious blankslate-large" ng-show="products.length == 0">
  <h3>There are no active products</h3>
  <p>Pull requests allow you to receive product information from your upstream subscriptions and merge it into your product lines.  Once you have subscribed to other vendors, you will begin to receive pull requests whenever they change product information.  When you receive the pull request you will have complete control over how to integrate the changes into your product line.</p>
  <a class="btn btn-primary btn-large" href="/product_lines/{{product_line._id}}/product_line_revisions/{{product_line_revision._id}}/products/new" style="margin-top: 40px;">Create a new product</a>
</div>
